<!DOCTYPE html>
<html>
<head>
    <title>Random Password Generator</title>
</head>
<body>
    <h1>Random Password Generator</h1>
    <form method="POST">
        <h3><label for="password_length">Enter the desired password length:</label>
            <input type="number" id="password_length" name="password_length" min="1" required>
            <button type="submit">Generate Password</button></h3>
    </form>
    {% if generated_password %}
    <p><h4>Generated password:</h4> {{ generated_password }}</p>
    {% endif %}
    <style>body {
        background: #FAD4FF;
        }</style>
</body>
</html>
